.input-title {
  position: absolute;
  border: none;
  outline: none;
  font-size: 35px;
}

input,
labelk {
  cursor: pointer;
}

.radior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"].cr2:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: lightcoral;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid lightcoral;
  outline: none;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: lightblue;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid lightblue;
  outline: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.itemch {
  border: none;
  outline: none;
}

input[type="checkbox"]:after {
  width: 15px;
  height: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  outline: none;
}

input[type="checkbox"]:checked:after {
  width: 20px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: lightblue;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid lightblue;
  outline: none;
}

input[type="checkbox"].ch2:checked:after {
  width: 20px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: lightcoral;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid lightcoral;
  outline: none;
}
